{% trans_default_domain 'FOSUserBundle' %}
<div class="row btn-action-top">
    <div class="col-xs-1 pull-right">
        <a title="editar" href="{{ path('fos_user_profile_edit') }}">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <table class="table table-show">
            <tbody>
                <tr>
                    <th>{{ 'profile.show.username'|trans }}</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>{{ 'profile.show.email'|trans }}</th>
                    <td>{{ user.email }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
