{% extends '::base.html.twig' %}

{% block body -%}
    <h2 class="sub-header">Crear programaci&oacute;n de "{{ entity.promocion.titulo }}"</h2>
    <div class="row btn-action-top">
        <div class="col-xs-1 pull-right">
            <a title="volver" href="{{ path('premios') }}">
                <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
        </div>
    </div>
    <div class="col-xs-12">
        {{ form_start(form) }}
        <div class="row error-count">{{ form_errors(form) }}</div>
        <div class="row">
            <div class="col-xs-5">
                <div class="saldoPremio">
                     Saldo disponible para premios: 
                    <span {% if(saldoParaPemios<=0) %} class="saldoWarning" {% endif %}>
                        ${{ saldoParaPemios }}
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">{{ form_row(form.cantidad) }}</div>
            <div class="col-xs-2">{{ form_row(form.cantidadTotal) }}</div>
            <div class="col-xs-2">
                <span id="text-gasto" class="saldoPremio">
                    Gasto: <span>$</span><span id="gasto">0</span>
                </span>
            </div>
            <div class="col-xs-3">{{ form_row(form.estadoProgramacion) }}</div>
        </div>
        <div class="row">
            <div class="col-xs-6">{{ form_row(form.fechaInicio) }}</div>
            <div class="col-xs-6">{{ form_row(form.fechaFin) }}</div>
        </div>
        <div class="row">
            <div class="col-xs-6">{{ form_row(form.horaInicio) }}</div>
            <div class="col-xs-2">{{ form_row(form.duracion) }}</div>
        </div>
        <div class="row">
            <div class="col-xs-12"><label>D&iacute;as disponible</label></div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                {{ form_row(form.esLunes) }}
                {{ form_row(form.esJueves) }}
                {{ form_row(form.esDomingo) }}
            </div>
            <div class="col-xs-4">
                {{ form_row(form.esMartes) }}
                {{ form_row(form.esViernes) }}
            </div>
            <div class="col-xs-4">
                {{ form_row(form.esMiercoles) }}
                {{ form_row(form.esSabado) }}
            </div>
        </div>
        <div class="row">
            
        </div>
        <div class="row">
            <div class="col-xs-12">{{ form_row(form.descripcion) }}</div>
        </div>
        <div class="row">
            <div class="col-xs-2 pull-right text-right">{{ form_row(form.crear) }}</div>
        </div>
        <div class="hidden">{{ form_row(form.promocion) }}</div>
        {{ form_end(form) }}
    </div>
    <script type="text/javascript">
        var valorPromo={{ valorPromocion }};
        $('#appbundle_programacionPremio_cantidadTotal').change(function(){
           var gasto= parseInt($(this).val()) * parseInt(valorPromo);
           if(parseInt(gasto) >0){
                $('#gasto').html(gasto);
           }else{
               $('#gasto').html(0);
           }
       });
    </script>
{% endblock %}
