{% extends '::base.html.twig' %}

{% block body -%}
    <link href="{{ asset('resources/css/calendario.css')}}" type="text/css" rel="stylesheet"> 
    <script src="{{ asset('resources/js/calendar.js')}}" type="text/javascript"></script> 
    <script src="{{ asset('resources/js/calendar-es.js')}}" type="text/javascript"></script> 
    <script src="{{ asset('resources/js/calendar-setup.js')}}" type="text/javascript"></script>  
    <h1>Res&uacute;menes</h1>
    <form>
        <input type="button" value="Usuarios Registrados por sexo" onClick="consulta(1)" class="btn btn-prymary btn boton-resumen"/>
        <input type="button" value="Visitas a Locales" onClick="consulta(2)" class="btn btn-prymary btn boton-resumen"/>
        <input type="button" value="Visitas a Premios" onClick="consulta(3)" class="btn btn-prymary btn boton-resumen"/>
        <input type="button" value="Premios Canjeados" onClick="consulta(4)" class="btn btn-prymary btn boton-resumen"/>
        <input type="button" value="Cobros por Local" onClick="consulta(5)" class="btn btn-prymary btn boton-resumen"/>

        <TABLE>
            <TR>
                <TD><label>Fecha Desde:&nbsp;</label>
                    <input class="form-control" type="text"  name="ingreso1" id="ingreso1" value="01-01-2016" readonly="readonly" />
                    <img src="{{ asset('resources/images/iconos/') ~ 'calendario.png' }}" width="16" height="16" border="0" title="Fecha Inicial" style="cursor: pointer" id="lanzador"> 
                    <!-- script que define y configura el calendario--> 
                    <script type="text/javascript">
                        Calendar.setup({
                            inputField: "ingreso1", // id del campo de texto 
                            ifFormat: "%d-%m-%Y", // formato de la fecha que se escriba en el campo de texto 
                            button: "lanzador" // el id del bot칩n que lanzar치 el calendario 
                        });</script>
                </td>
                <td>

                    <label>Fecha Hasta:&nbsp;</label>
                    <input class="form-control" type="text" name="ingreso2" id="ingreso2" value="31-12-2016" readonly="readonly" />
                    <img src="{{ asset('resources/images/iconos/') ~ 'calendario.png' }}" width="16" height="16" style="cursor: pointer" border="0" title="Fecha Final" id="lanzador1"> 
                    <!-- script que define y configura el calendario-->                    
                    <script type="text/javascript">
                        Calendar.setup({
                            inputField: "ingreso2", // id del campo de texto 
                            ifFormat: "%d-%m-%Y", // formato de la fecha que se escriba en el campo de texto 
                            button: "lanzador1" // el id del bot칩n que lanzar치 el calendario 
                        });</script>
                </td>
            </TR>
        </table>  
        
    </form>

    <div id="graficaCircular" style="width: 100%; height: 500px; margin: 0 auto">
    </div>

    <script type="text/javascript">

        function cargaGrafico(dato, nombre) {
            var chart;
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'graficaCircular'
                },
                title: {
                    text: 'Resumen'
                },
                subtitle: {
                    text: 'Dromo'
                },
                plotArea: {
                    shadow: null,
                    borderWidth: null,
                    backgroundColor: null
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.point.name + '</b>: ' + this.y + ' %';
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            formatter: function () {
                                return '<b>' + this.point.name + '</b>: ' + this.y + ' %';
                            }
                        }
                    }
                },
                series: [{
                        type: 'pie',
                        name: 'Browser share',
                        data: dato
                    }]
            });
        }
    </script>
    <script>
        function consulta(tipo) {
                opcion = tipo;
                var data = "tipo=" + tipo + "&desde=" + $("#ingreso1").val() + "&hasta=" + $("#ingreso2").val();
                $.ajax({
                    url: "{{ path('visitalc_ajax_grafico') }}",
                    type: 'post',
                    data: data,
                    success: function (html) {
                        var data = new Array();
                        for (var i = 0; i < html.entities.length; i++) {
                            var numero = Math.trunc((html.entities[i].cant / html.suma) * 100);
                            if(html.entities[i].titulo==='f'){
                                data.push(new Array('Femenino', numero));
                            }else if(html.entities[i].titulo==='m'){
                                data.push(new Array('Masculino', numero));
                            }else{
                                data.push(new Array(html.entities[i].titulo, numero));
                            }
                            
                        }
                        cargaGrafico(data, 'Cambio');
                    }
                });
            }

            $('.boton-resumen').click(function () {
                $('.boton-resumen').removeClass('boton-resumen-selec');
                $(this).addClass('boton-resumen-selec');
            })
    </script>
{% endblock %}
