{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Pendientes de cobro de .... </h1>

    {#<table class="table table-hover records_list">
        <thead>
            <tr>
                <th class="col-xs-3">Nombre</th>
                <th class="col-xs-3">Responsable</th>
                <th class="col-xs-2">E-mail</th>
                <th class="col-xs-2">Telefono</th>
                <th class="col-xs-2">Ver detalle</th>
            </tr>
        </thead>
        <tbody>
            {% for local in locales %}
                <tr>
                    <td>{{ local.nombre }}</td>
                    <td>{{ local.nombreContacto }}</td>
                    <td>{{ local.emailContacto }}</td>
                    <td>{{ local.telefonoContacto }}</td>
                    <td>
                        <a title="ver" href="{{ path('promocion_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>#}
    </table>
{% endblock %}
