{% extends '::base.html.twig' %}

{% block body -%}
    <h3 class="sub-header">Promos en Dia</h3>

      
    <table class="table table-hover records_list">
        <thead>
            <tr>
                <th class="col-xs-6">Promo</th>
                <th class="col-xs-3">Vencimiento</th>
                <th class="col-xs-1">Cantidad</th>
                <th class="col-xs-1">Estado</th>
                <th class="col-xs-1">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.programacion.promocion.titulo }}</td>
                <td>{% if entity.vencimiento %}{{ entity.vencimiento|date('d/m/Y H:i') }}{% endif %}</td>
                <td>{{ entity.cantidadDisponible }}</td>
                <td>{{ entity.estadoProgramacionEnDia.nombre }}</td>
                <td>
                    <a href="{{ path('programacion_show', { 'id': entity.programacion.id }) }}"><span class="glyphicon glyphicon-eye-open"></a>
                    <a href="{{ path('programacion_edit', { 'id': entity.programacion.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
