{% extends '::base.html.twig' %}

{% block body -%}
    <h3 class="sub-header">Premios en Mi Local</h3>

       <table class="table table-hover records_list">
        <thead>
            <tr>
                <th class="col-xs-8">Titulo</th>
                <th class="col-xs-1">Puntaje</th>
                <th class="col-xs-1">Precio</th>
                <th class="col-xs-1">Estado</th>
                <th class="col-xs-1">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.titulo }}</td>
                    <td>{{ entity.puntajePremio }}</td>
                    <td>${{ entity.precio }}</td>
                    <td>{{ entity.estadoPromocion }}</td>
                    <td>
                        <a title="ver" href="{{ path('premio_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                        &nbsp;&nbsp;&nbsp;
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
