{% extends '::base.html.twig' %}

{% block body -%}

    <h3 class="sub-header">Sucursales</h3>
    <a title="volver" class="btn-action-top pull-right" href="{{ path('localcomercial') }}">
        <span class="glyphicon glyphicon-circle-arrow-left">
    </a>
    <table class="table table-hover records_list">
        <thead>
            <tr>
                <th class="col-xs-5">Direcci&oacute;n</th>
                <th class="col-xs-3">Tel&eacute;fono</th>
                <th class="col-xs-1">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.direccion.descripcion }}</td>
                    <td>{{ entity.telefono }}</td>

                    <td>
                        <a title="ver" href="{{ path('sucursal_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>                        
                        <a title="editar" href="{{ path('sucursal_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                       {# <a title="eliminar" href="{{ path('sucursal_delete', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-trash"></span></a>#}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
